<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="ConfigRoot" value="5555\mode" />


    <add key="TesterTypePath" value="5555\mode\testertype.csv" />
    <add key="VersionFilePath" value="5555\mode\version.txt" />
    <add key="UpdateFlagPath" value="5555\mode\updateflag.txt" />


    <add key="InstallerPathHE" value="testupd\version\HE" />
    <add key="InstallerPathLLE" value="testupd\version\LLE" />
    <add key="InstallerArgs" value="/silent /norestart" />

    <add key="RegistryKeyPath" value="ใส่ path ของ RegistryKeyPath" />
    <add key="RegistryValueName" value="ใส่ชื่อ Value ของ RegistryValueName" />
    <add key="RegistryPathValueName" value="Path" />
    <add key="CompanyName" value="CompanyName" />


    <add key="LogPath" value="5555\mode" />
    <add key="LogLevel" value="Info" />

    <add key="PollingIntervalMinutes" value="60" />
  </appSettings>
</configuration>
